<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RootController</servlet-name>
        <servlet-class>servlets.RootController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>servlets.ErrorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autentificator</servlet-name>
        <servlet-class>servlets.Autentificator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocController</servlet-name>
        <servlet-class>servlets.DocController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RootController</servlet-name>
        <url-pattern>/RootController</url-pattern>
        <url-pattern>/addDoc</url-pattern>
        <url-pattern>/addDocDel</url-pattern>
        <url-pattern>/addNurse</url-pattern>
        <url-pattern>/addNurseDel</url-pattern>
        <url-pattern>/actionAddDoc</url-pattern>
        <url-pattern>/actionAddNurse</url-pattern>
        <url-pattern>/actionAssignStaff</url-pattern>
        <url-pattern>/assignStaff</url-pattern>
        <url-pattern>/addedItem</url-pattern>
        <url-pattern>/showDoctor</url-pattern>
        <url-pattern>/showNurse</url-pattern>
        <url-pattern>/showDepartment</url-pattern>
        <url-pattern>/delDocWork</url-pattern>
        <url-pattern>/delNurse</url-pattern>
        <url-pattern>/delDoctor</url-pattern>
        <url-pattern>/updateDocWork</url-pattern>
        <url-pattern>/updateNurseWork</url-pattern>
        <url-pattern>/updateNurse</url-pattern>
        <url-pattern>/updateDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/404</url-pattern>
        <url-pattern>/500</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autentificator</servlet-name>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/updatePasswd</url-pattern>
        <url-pattern>/updateAbout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocController</servlet-name>
        <url-pattern>/DocController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Controller</welcome-file>
    </welcome-file-list>
    <!--<error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/errorPages/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/views/errorPages/500.jsp</location>
    </error-page>-->
    <!-- TODO tohle odmazat -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>mainRealm</realm-name>
        <form-login-config>
            <form-login-page>/signIn.jsp</form-login-page>
            <form-error-page>/signIn.jsp?warning=true</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
