/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #446E9B;
  z-index: 9000;
}

p {
    margin-top: 0.7%;
}

p.myFooter {
    color: #fff;
}

.footer_logo {
    position: absolute;
    bottom: 80px;
    left: 10px;
}
